<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <!--加载映射文件采用包声明的方式
            要求: 接口类与映射文件在同一级目录-->
        <package name="com.lanou.mapper"/>
    </mappers>
</configuration>